<!DOCTYPE html>
<html ng-app="angular-google-maps">
<head>
	<meta charset="UTF-8">
	<title>Visualizador</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container-fluid">
		<div ng-controller="geoServer" >

			{{variable}}
			<div class="row">
				<div class="places col-sm-4">

					<div class="form-group">
						<select name="provincia" id="provincia" ng-model="orderProp" class="form-control">
							<option value="{{provs}}" ng-repeat="provs in provincias">
								{{provs}}
							</option>
						</select>
					</div>
					
					<div class="form-group">
						<button id="showHide" ng-click="showAll($event)" class="btn btn-primary btn-block">Ver todos los resultados</button>
					</div>

					<ul class="list-group">
						<li ng-repeat="place in places | filter:orderProp" ng-init="liVisible" ng-hide="liVisible == false" class="list-group-item">
						  <span class="name" ng-click="select(place)">{{place.properties.nombre}}</span>
						</li>
					</ul>
				</div>

				<div class="col-sm-8">
					<div class="google-map" 
						center="centerProperty"
						zoom="zoomProperty"
						markers="filteredMarkersProperty"
						latitude="clickedLatitudeProperty"
						longitude="clickedLongitudeProperty"
						mark-click="false"
						draggable="true"
						style="height: 600px; width: 100%; float:right">
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
	<script src="lib/google-maps.js"></script>
	<script src="js/app.js"></script>

	
</body>
</html>